<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
哦不，出现了大大滴错误，请尝试刷新，如果你确定这是一个BUG，请<a href='mailto:apt-incubator@qq.com'>联系</a>我，我会尽量假装修复成功.
</div>
<%include file="FOOTER.tmpl"/>
