<%include file="HEADER.tmpl"/>
<script src="${docroot}/static/js/ghostosint.newscan.js"></script>
<h2>新建扫描</h2>
<div style='padding-top: 20px'>
<form class="form" action='${docroot}/startscan' method='POST'>
<div class='col-sm-3' style='padding: 0'>
    <label for="scanname">扫描任务名称</label>
    <div class="input-group" style='padding-bottom: 10px'>
        <input class='form-control' type="text" id="scanname" name="scanname" value="${scanname}" placeholder="填写扫描任务名称.">
    </div>
    <label for="scantarget">扫描目标</label>
    <div class="input-group">
        <input class='form-control' type="text" value="${scantarget}" id="scantarget" name="scantarget" placeholder="填写扫描目标.">
    </div>
</div>
<div class='col-sm-9' style='font-size: 12px; padding: 0; padding-left: 10px'>
    <div class='panel panel-default' style='background-color: #f7f7f7'>
        <div class='panel-body' style='padding: 0; margin: 10px'>
            <div class='row' style='padding-bottom: 5px'>
                <div class='col-sm-12'>
                <i class='glyphicon glyphicon-question-sign'></i>&nbsp;&nbsp;扫描目标可以是以下几种类型，同时Ghost OSINT会自动识别目标类型:
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-6'>
                    <b>域名</b>: e.g. <i>example.com</i><br><b>IPv4 地址</b>: e.g. <i>192.168.1.1</i><br><b>IPv6 地址</b>: e.g. <i>fe80::a4a2:dbc0:6b11:a9b2%4</i><br><b>主机名或者子域名</b>: e.g. <i>test.example.com</i><br><b>子网地址</b>: e.g. <i>192.168.1.0/24</i><br><b>Bitcoin 地址</b>: e.g. bc1qm4z7jj9k9d5kgn6x0h72drphuas03nmj6xprd6
                </div>
                <div class='col-sm-6'><b>邮件地址</b>: e.g. <i>apt-incubator@qq.com</i><br><b>手机号</b>: e.g. <i>+1234567890</i> (E.164 格式)<br><b>人名</b>: e.g. <i>&quot;Snow Wolf&quot;</i> (必须使用引号包裹)<br><b>用户名</b>: e.g. <i>&quot;Snow狼&quot;</i> (必须使用引号包裹)<br><b>网络 ASN</b>: e.g. <i>1234</i>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="control-group">
        <ul class='nav nav-tabs'>
        <li id='usetab' class="active"><a href='#'>按用例</a></li>
        <li id='typetab'><a href='#'>按所需数据</a></li>
        <li id='moduletab'><a href='#'>按模块</a></li>
        <div class='btn-group-sm pull-right' role="group" id='selectors' style='display: none'>
        <button id="btn-select-all" type="button" class="btn btn-info">全选</button>&nbsp;&nbsp;
        <button id="btn-deselect-all" type="button" class="btn btn-info">取消全选</button>
        </div>
        </ul>
        <table class="table table-striped table-condensed" id="usetable">
            <tr><td style='width: 50px'><input type=radio name='usecase' value='all' id="usecase_all" checked></td><td>全部</td><td><b>获取有关目标的任何信息.</b><br><br>所有Ghost OSINT模块全部运行，会获取和分析有关目标的每条信息，但运行会极为缓慢.<br><br></td></tr>
            <tr><td style='width: 50px'><input type=radio name='usecase' value='Footprint' id="usecase_footprint"></td><td>足迹</td><td><b>了解此目标向Internet公开过的信息.</b><br><br>了解目标的网络边界、相关身份以及通过大量网络搜索和搜索引擎使用获得的其他信息.
             <br><br></td></tr>
            <tr><td style='width: 50px'><input type=radio name='usecase' value='Investigate' id="usecase_investigate"></td><td>侦查</td><td><b>当目标可能是恶意请求可以使用该选项进行查询.</b><br><br>除了查询黑名单和其他可能包含目标恶意信息的来源外，还将执行一些基本的足迹查询.
            <br><br></td></tr>
            <tr><td style='width: 50px'><input type=radio name='usecase' value='Passive' id="usecase_passive"></td><td>被动查询</td><td><b>当你不希望目标察觉在被查询时使用该选项.</b><br><br>由于许多信息将在不接触目标或其附属机构的情况下收集，因此只有不接触目标的模块才会被启用.

        </td></tr>
        </table>

        <table class="table table-striped table-condensed" id="moduletable" style="display: none">
            <%
            modlist = dict()
            for item in modules:
                modlist[modules[item]['name']] = item
            %>
            % for it in sorted(modlist, key=lambda v: v.upper()):
                <% item = modlist[it] %>
                <% keylist = dict((k, v) for k, v in modules[item]['opts'].items() if not k.startswith('_')) %>
                <% keyicon = "" %>
                % if len(keylist) > 0:
                    <% apikeylist = dict((k, v) for k, v in modules[item]['opts'].items() if k.find("api_key") >= 0) %>
                    <%
                    if len(apikeylist) > 0:
                        keyicon = "&nbsp;&nbsp;<i class=\"glyphicon glyphicon-lock\" rel='tooltip' title='Needs API key'></i>"
                    %>
                % endif

                % if item != "GO__stor_db" and item != "GO__stor_stdout":
                    <tr><td><input type=checkbox id="module_${item}" checked></td><td>${modules[item]['name']}${keyicon}</td><td>${modules[item]['descr']}</td></tr>
                % endif
            % endfor
        </table>
        <table class="table table-striped table-condensed" id="typetable" style="display: none">
            <% count = 0 %>
            % for item in sorted(types):
                % if count % 2 == 0:
                    <tr>
                % endif
                <td><input type=checkbox id="type_${item[1]}" checked></td><td>${item[0]}</td>
                % if not count % 2 == 0:
                    </tr>
                % endif
                <% count = count + 1 %>
            % endfor
        </table>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type=hidden id='modulelist' name='modulelist' value=''>
            <input type=hidden id='typelist' name='typelist' value=''>
            <button id="btn-run-scan" class="btn btn-danger">运行扫描！</button>
        </div>
    </div>
</form>
</div>

<script type='text/javascript'>
  if ("${selectedmods}" != "") {
          switchTab("module");

          $("input[id^=module_]").each(function(id, obj) {
              if ("${selectedmods}".indexOf(obj.id.replace("module_", "")) >= 0) {
                  $("#" + obj.id).attr("checked", true);
              } else {
                  $("#" + obj.id).attr("checked", false);
              }
          });
  }
</script>
<%include file="FOOTER.tmpl"/>
